<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sed</title>
    <link rel="stylesheet"  href="/singlepost.css">
    <script>
function CommentResponse() {
console.log( "<%    posts.Slug   %>")  
console.log( <%    posts.Slug   %>)  
console.log( 'srfhk')   

 
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

    </script>
  </head>
  <body>
    <div class="container">
        <div class="first">
            <span></span>

                     <% for (item of posts) { %>

            <div class="header">
                <h1><%= item.Title %></h1>
                <div>
                    <div>
                        <img src="" alt="">
                    </div>
                    <div>
                        <%= user[0].Email %>
                        <span> <%= item.Created_at.getFullYear()+" "+item.Created_at.getMonth()+" "+item.Created_at.getDate() %></span>
                    </div>
                </div>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad totam quae expedita amet odio? Consequuntur aut nisi fugit sunt quidem, assumenda, explicabo distinctio magni, modi nemo dolor fuga exercitationem neque.</p>
            <div>
                <img src="" alt="">
            </div>     
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, animi nihil. Quos deleniti quibusdam quod ipsum esse iste. Inventore, saepe. Illum consequatur debitis animi eius sint assumenda exercitationem nihil quasi!</p>
            </div>
          
                   <% } %>
                <div class="comment">
                        <!-- <div>
                            <form method="POST" action="/api/v2/comments">
                            <input type="text" name="comment">
                            <input type="text" name="postId" value="<%= item.Id %>" style="display:none ;" >
                            <input type="text" name="postSlug" value="<%= item.Slug %>" style="display:none ;" >

                            <button >click</button>

                        </form>
                        </div> -->
                        <!-- <% for (item of comment) { %>
                            <span onclick="CommentResponse()">response</span>
                            <h1 ><%= item.Content %></h1>
                            <input  id="myDIV" type="text">

                            <% } %> -->

                            <!-- test sending request -->
                            <div>
                              <form method="POST" action="http://localhost:4000/unit/view">
                                
                              <input type="text" name="unitName">
                              <input type="text" name="unitManager">

  
                              <button >click</button>
  
                          </form>
                          </div>


                            <!-- end test sending request -->

                </div>
        </div>
        <div class="seconde">
       <p id="demo"></p>
        </div>
    </div>
  </body>
</html>

//
<!-- <ul>
//         <% for (item of posts) { %>
//           <li> <%= item.Title %> </li>
//         <% } %>
//       </ul> -->
<!-- for (i=0;i<comment.length;i++) { -->


  <!-- http://localhost:4000/unit/view -->